<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Daniel Dong's Coding Portfolio</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/styles.css">
        <script src="https://kit.fontawesome.com/455ef23a0f.js" crossorigin="anonymous"></script>
        <script src="static/index.js"></script>
    </head>
    <body>
        <nav class="navbar">
            <a href="#"><img src="images/logo.png" id="logo"></a>
            <ul class="links">
                <li><a href="#experiencesubtitle">Experience</a></li>
                <li><a href="#projectsubtitle">Projects</a></li>
                <li><a href="#contactinfo">Contact</a></li>
            </ul>
        </nav>
        <div class="body">
            <div class="title">
                <div class="image fade-in"><img src="images/dan_dong_2.png" id="dan_dong"></div>
                <div class="header fade-in">Hi,<br> I'm Dan Dong.</div>
                <p class="fade-in">Hey I do stuff and yeah this is just some filler text to see how it works. I'm gonna type something really long to make sure you can get all of your words in. Ooga booga ooga booga ooga booga</p>
                <ul class="contacts fade-in">
                    <!--Put your app contact info here-->
                    <li><a href="https://github.com/danieldong51" target="_blank"><i class="fab fa-github fa-2xl"></i></a></li>
                    <li><a href="https://www.instagram.com/danfdong/" target="_blank"><i class="fa-brands fa-instagram fa-2xl"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/daniel-f-dong/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a></li>
                </ul>
                <div id="contactinfo">
                    Email: dandong@gmail.com?
                    Phone Number: 603-858-4444
                </div>
            </div>
            <div class="subheader" id="experiencesubtitle">Experience</div>
            <div id="experience" class="projects">
                <!--Put your work experience here-->
                <div class="work">
                    <div class="work-title fade-in">
                        <a href="https://www.amazon.com/" target="_blank">Coder &#x2022; Amazon &#x2197;</a>
                    </div>
                    <div class="work-time fade-in">
                        Jul 2017 - Apr 2022
                    </div>
                    <div class="work-desc fade-in">
                        ioefewi0fuewnipofiuewtpn up riutiop rnuwtrpiewn utipwn tewpiun tpewount pew piewunf pwriufpeiuwweiufn 0ewiufnpwie npfweupiewufnpiewfun hdewoqudhne woifudnewoifuenwpif unewpfun ewpfnu ewpoofns d;knfdsnfeuwjfk newufoin ewuofi nu
                    </div>
                    <div class="work-tools fade-in">
                <!--Put your languages used during work here-->
                        <div>
                            Assembly
                        </div>
                    </div>
                </div>
                <div class="work">
                    <div class="work-title fade-in">
                        <a href="https://www.youtube.com/" target="_blank">Youtuber &#x2022; Youtube &#x2197;</a>
                    </div>
                    <div class="work-time fade-in">
                        Jan 2017 - Apr 2017
                    </div>
                    <div class="work-desc fade-in">
                        ioefewi0fuewnipofiuewtpn up riutiop rnuwtrpiewn utipwn tewpiun tpewount pew piewunf pwriufpeiuwweiufn 0ewiufnpwie npfweupiewufnpiewfun hdewoqudhne woifudnewoifuenwpif unewpfun ewpfnu ewpoofns d;knfdsnfeuwjfk newufoin ewuofi nu
                    </div>
                    <div class="work-tools fade-in">
                        <div>
                            C
                        </div>
                        <div>
                            Nein
                        </div>
                        <div>
                            oof
                        </div>
                    </div>
                </div>
            </div>
            <div class="subheader" id="projectsubtitle">Projects</div>
            <div id="projects">
                <!--Put your projects here-->
                <div class="project">
                    <div class="project-title fade-in">
                        oof
                    </div>
                    <div class="project-desc fade-in">
                        hd iuofhoew jfnjlew hfoewuyfoewi fhewof hewo fhwef ef hwof ewohf ewo fewnlfwe ufoiehw foewk fhoiwe hfewojfhew oif ehoweh fohewoifew hfoiew hroewj hfoew fhewof ewhoifweh oifwe yfowe hfeowihf weoifh ewoifweh fewoi hweoh ewofh wefoi 
                    </div>
                    <div class="project-tools fade-in">
                        <!--Put your languages used in the project here-->
                        <div>
                            Python
                        </div>
                        <div>
                            Lol
                        </div>
                        <div>
                            Whatever
                        </div>
                    </div>
                    <div class="project-link fade-in">
                        <a href="?" target="_blank">Project Link &#x2197;</a>
                    </div>
                </div>
                <div class="project">
                    <div class="project-title fade-in">
                        What's up
                    </div>
                    <div class="project-desc fade-in">
                        hdeiuofh oewjfnjl ewhfoewuyfoewif hewof hewo fh wefhde iuofh oewjfnjlewh foewuy foewi dehw ehwfo  wef ew few few f ewf ewfjhwe fwe few few ew f
                    </div>
                    <div class="project-tools fade-in">
                        <div>
                            C
                        </div>
                        <div>
                            C++
                        </div>
                        <div>
                            C#
                        </div>
                        <div>
                            No
                        </div>
                        <div>
                            Yes
                        </div>
                    </div>
                    <div class="project-link fade-in">
                        <a href="?" target="_blank">Project Link &#x2197;</a>
                    </div>            
                </div>
                <div class="project">
                    <div class="project-title fade-in">
                        What's upe ofoeh fo3h foi34 f43i f 3nof jyfoi wkjfkweo fy90ie flkejf oie3yf oi4 jfo3
                    </div>
                    <div class="project-desc fade-in">
                        hdeiuofh oewjfnjl ewhfoewuyfoewif hewof hewo fh wefhde iuofh oewjfnjlewh foewuy foewi dehw ehwfo  wef ew few few f ewf ewfjhwe fwe few few ew f
                    </div>
                    <div class="project-tools fade-in">
                        <div>
                            ok
                        </div>
                        <div>
                            oof
                        </div>
                        <div>
                            foo
                        </div>
                    </div>
                    <div class="project-link fade-in">
                        <a href="?" target="_blank">Project Link &#x2197;</a>
                    </div>
                </div>
                <div class="project">
                    <div class="project-title fade-in">
                        Yessir
                    </div>
                    <div class="project-desc fade-in">
                        ofoeh
                    </div>
                    <div class="project-tools fade-in">
                        <div>
                            No
                        </div>
                    </div>
                    <div class="project-link fade-in">
                        <a href="?" target="_blank">Project Link &#x2197;</a>
                    </div>
                </div>
                <div class="project">
                    <div class="project-title fade-in">
                        This is a project
                    </div>
                    <div class="project-desc fade-in">
                        ooofejofhewoifewnf
                    </div>
                    <div class="project-tools fade-in">
                        <div>
                            Assembly
                        </div>
                    </div>
                    <div class="project-link fade-in">
                        <a href="?" target="_blank">Project Link &#x2197;</a>
                    </div>
                </div>
                <div class="test"></div>
            </div>
        </div>
    </body>
</html>